In [4]:
import pandas as pd
from ntscraper import Nitter
import json

In [5]:
filename = "../datasets/accounts.csv"
df = pd.read_csv(filename)
df.drop(['type','domain'], axis = 1)

             twitter           name
0          katyperry     KATY PERRY
1       justinbieber  Justin Bieber
2      taylorswift13   Taylor Swift
3            rihanna        Rihanna
4           ladygaga   The Countess
..               ...            ...
991             Zedd           Zedd
992  SleepintheGardn         Troian
993    therealjuicyj        juicy j
994      manugavassi   Manu Gavassi
995         soujorge      Seu Jorge

[996 rows x 2 columns]

In [11]:
scraper = Nitter(log_level=1, skip_instance_check= False)

Testing instances: 100%|██████████| 77/77 [02:07<00:00,  1.65s/it]

In [7]:
users = df['twitter']

In [ ]:
count = 0
for user in users:
    tweets = scraper.get_tweets(user, mode = 'user', number = 3)
    for tweet in tweets['tweets']:
         print(f"{tweet['text']} , Tweet belongs to {user}")
         count +=1 
         if count > 50:
              break